<div class="max-w-3xl mx-auto">

  <div *ngIf="loading()">Loading...</div>

  <div *ngIf="error()" class="text-red-600">
    {{ error() }}
  </div>

  <div *ngIf="post()">

    <app-post-header *ngIf="post() as currentPost" [post]="currentPost">
    </app-post-header>

    <h2 class="text-xl font-semibold mb-4">Comments</h2>

    <app-comment-form (submitComment)="onCommentSubmit($event)">
    </app-comment-form>

    <app-comment-list [comments]="comments()">
    </app-comment-list>

  </div>
</div>